.wrap a {
	text-decoration: none;
}

.wpbi h2:first-of-type {
	float: left;
}

#message {
	margin: 15px 0;
	background: #fff;
	border-left: 4px solid #dc3232;
	-webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
	box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
	padding: 1px 12px;
}

.input-error {
	border: 1px solid #dc3232!important;
}

.required-field {
	color: #dc3232;
}

.form-table td {
	vertical-align: top;
}

.button-danger {
	color: #fff !important;
	background-color: #d9534f !important;
	border-color: #d43f3a !important;
	box-shadow: inset 0 1px 0 #D08F8D,0 1px 0 rgba(0,0,0,.08) !important;
}

.text-center {
	text-align: center;
}

small {
	color: #777777;
	display: block;
	font-size: 12px;
	line-height: 1.4em;
	font-style: normal;
	margin: 3px 0 0 !important;
	padding: 0 !important;
	font-weight: normal;
}

#config-controls,
#storage-info {
	margin: 0 0 40px 0;
}

#storage-info li span {
	font-weight: bold;
}

.well {
	height: 73px;
	border-radius: 0;
}

#import-controls {
	margin: 0 auto 20px auto;
	width: 155px;
	display: block;
}

#import-controls > a:first-of-type {
	margin-right: 10px;
}

#date-input {
	float: left;
}

#result-total {
	padding: 10px;
	float: left;
}

#check-all {
	padding: 10px;
	float: right;
}

#results .result {
	/*animation-delay: .3s;*/
	background: lightgray;
	border-bottom: 1px solid black;
	/*height: 91px;*/
}
#results .result:hover {
	background: white;
}
#results .result:hover img {
	-webkit-filter: grayscale(0);
					filter: grayscale(0);
}
#results .result:hover .add:before {
	background: white;
}
#results .result label {
	height: 90px;
	display: block;
}
#results .result img {
	display: block;
	float: left;
	height: 90px;
	width: 115px;
	-webkit-filter: grayscale(1);
					filter: grayscale(1);
}
#results .result .result-info {
	float: left;
	margin-left: 10px;
}
#results .result .result-info h3 {
	margin: 0;
	padding: 10px 0 0 0;
	word-wrap: break-word;
}
#results .result .result-info .published_on {
	font-size: 10px;
	margin-bottom: 13px;
	font-style: italic;
	display: block;
}
#results .result .result-info a {
	text-decoration: none;
	color: black;
	font-size: 12px;
}
#results .result .result-info a:hover {
	text-decoration: underline;
}
#results .result .add {
	float: right;
	width: 90px;
	position: relative;
	cursor: pointer;
	margin: 0;
	border: none;
}
#results .result .add:before {
	content: '\f00c';
	text-align: center;
	padding-top: 45px;
	font-size: 30px;
	color: rgba(241, 241, 241, 1.0);
	display: block;
	width: 90px;
	position: absolute;
	background: lightgray;
	margin: 0;
	font-family: 'fontawesome';
	height: 45px;
}
#results .result:hover .add:before {
	color: green;
}
#results .result .add:checked:before {
	background: green;
	color: white;
	padding-top: 30px;
	height: 60px;
}

.group:after {
	content: "";
	display: table;
	clear: both;
}
